.primary {
    background-color: #c1470f;
    overflow: hidden;
    max-width: 800px;
}
.secondary {
    background-color: #ffbd4c;
}
.primaryText {
    color: black;
}

#main {
    height: 100vh; 
}


.m-default {
    margin: 10px;
}
.m0 {
    margin: 0;
}

.centerText {
    text-align: center;
}

.d-flex {
    display: flex;
}
.flex-grow {
    flex-grow: 1;
}